

* {
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

body{
    padding: 0;
}

.container{
    margin: 0 auto;
    display: flex;
    width: 1480px;
    height: 1100px;
    padding: 5px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background: #f3f3f3;
}

header{
    height: 60px;
    width: 1580px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    /* gap: 32px; */
    
    

}
.menu-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 240px;
}

.menu{
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

.youtube-logo{
    width: 150px;
    height: 30px;
    
    
}

.rectangle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 42px;
    width: 340px;
    border: 1px solid #e3e3e3;
    
}

.search-btn{
    height: 39px;
    width: 40px;
    background-color: #e3e3e3;
    

} 

.menu-icons{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly; 
}


.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}

footer{
    margin: 0 auto;
    width: 1480px;
    height: 70px;
    padding: 10px;
    color: #FFF;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3{
    font-size: 24px;
    font-weight: 900;
}
footer p{
    font-size: 18px;
    font-weight: 700;
}

span{
    font-size: 18px;
    font-weight: 700;
}